<h1 align="center">Customers List</h1>
<hr>
<div class='container'>
	  	<div ng-repeat='customer in customers' class="card card-inverse card-primary mb-3 text-center">
			  <div class="card-block">
			  	<ul class="list-group" style="color: black;">
			  	  <li class="list-group-item active">#{{ $index+1 }} PLATFORM_NAME: {{ customer.data.PLATFORM_NAME }}</li>
			  	  <li class="list-group-item">ENABLE_MKTG_SITE: {{ customer.data.ENABLE_MKTG_SITE }} </li>
			  	  <li class="list-group-item">LANGUAGE_CODE: {{ customer.data.LANGUAGE_CODE }} </li>
				  <li class="list-group-item">SITE_NAME: {{ customer.data.SITE_NAME }}</li>
				  <li class="list-group-item">TIME_ZONE_DISPLAYED_FOR_DEADLINES: {{ customer.data.TIME_ZONE_DISPLAYED_FOR_DEADLINES }}</li>
				  <li class="list-group-item">LAST_ACCESSED: {{ customer.data.LAST_ACCESSED }} </li>
				  <li class="list-group-item">course_about_show_social_links:{{ customer.data.course_about_show_social_links }} </li>
				  <li class="list-group-item">course_index_overlay_logo_file: {{ customer.data.course_index_overlay_logo_file }} </li>
				  <li class="list-group-item">course_org_filter:{{ customer.data.course_org_filter }} </li>
				  <li class="list-group-item">released_languages:{{ customer.data.released_languages }} </li>
				  <li class="list-group-item">show_homepage_promo_video:{{ customer.data.show_homepage_promo_video }} </li>
				  <li class="list-group-item">show_partners:{{ customer.data.show_partners }} </li>
				</ul>
				<hr>	    
			 	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal" ng-click="send_customer(customer,$index,$event)""> Edit Customer </button>
			  </div>
		</div>
</div> 

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="site-name" class="form-control-label">SITE_NAME:</label>
            <input type="text" class="form-control" id="site-name"  ng-model="editCustomer.SITE_NAME">
          </div>
          <div class="form-group">
            <label for="last-accessed" class="form-control-label">LAST_ACCESSED:</label>
            <input type="text" class="form-control" id="last-accessed" ng-model="editCustomer.LAST_ACCESSED">
          </div>
          <div class="form-group">
            <label for="time-zone" class="form-control-label">TIME_ZONE_DISPLAYED_FOR_DEADLINES:</label>
            <input type="text" class="form-control" id="time-zone" ng-model="editCustomer.TIME_ZONE_DISPLAYED_FOR_DEADLINES">
          </div>
          <div class="form-group">
            <label for="platform-name" class="form-control-label">PLATFORM_NAME:</label>
            <input type="text" class="form-control" id="platform-name" ng-model="editCustomer.PLATFORM_NAME">
          </div>
          <div class="form-group">
            <label for="language-code" class="form-control-label">LANGUAGE_CODE:</label>
            <input type="text" class="form-control" id="language-code" ng-model="editCustomer.LANGUAGE_CODE">
          </div>
          <div class="form-group">
            <label for="enable-mk-site" class="form-control-label">ENABLE_MKTG_SITE:</label>
            <input type="text" class="form-control" id="enable-mk-site" ng-model="editCustomer.ENABLE_MKTG_SITE">
          </div>
          <div ng-bind-html="myhtml"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="update( editCustomer )">Update</button>
      </div>
    </div>
  </div>
</div